@import url(https://fonts.googleapis.com/css?family=Raleway);

.img-circle {
    display: block;
    border-radius: 50%;
    width: 200px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 25px
}

.body {
  font-family: 'Raleway', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

.social {
    display:inline-block;
    width: 50px;
    height:50px;
    margin:5px 10px;
    padding:5px;
}

.cardimgcrop {
    background-color: white;
    border-color: white;
}

.cardimgcrop img {
    opacity: 1;
}

.cardimgcrop img:hover {
    opacity: 0.7;
}
