@import url(https://fonts.googleapis.com/css?family=Raleway);

.img-circle {
    display: block;
    border-radius: 50%;
    width: 200px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px
}

.body {
  font-family: 'Raleway', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

.social {
  display: block;
  width: 45px;
  height: 45px;
  margin-left: auto;
  margin-right: auto
}
