@import url(https://fonts.googleapis.com/css?family=Raleway);

.img-circle {
    display: block;
    border-radius: 50%;
    width: 200px;
    height:200px;
    margin-left: auto;
    margin-right: auto
}

.description, .skills {
  font-family: 'Raleway', sans-serif;
  margin-left: auto;
  margin-right: auto
}
